.topUpModal {
  color: #fff !important;

  h2 {
    font-size: 1.2em;
    padding: 0 0.8rem 0.4rem;
  }

  h4, p {
    font-size: 0.9em;
    margin-bottom: 0.4em;
    padding: 0 0.8rem;
    line-height: 1.6em;
  }

  .actionsModal {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 1rem 0.8rem 0;
  }
}
