.howToUse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0.6em 0;
  color: #fff;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    max-width: 25%;
    span {
      display: inline-block;
      text-align: center;
      line-height: 1.6em;
      margin-top: 1em;
      svg {
        height: 1.2em;
        width: 1.2em;
      }
    }
  }
}
